*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
}

div.prettyHotspot{
    position: relative;
    width: fit-content;
    height: fit-content;
}

div.prettyHotspot > div.spot{
    position: absolute;
}

div.prettyHotspot > div.spot > div.infoContainer{
    z-index: 10;
    position: absolute;
}

div.prettyHotspot > div.spot > div.infoContainer > div.info{
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
    padding: .8rem;
    width: 13rem;
    display: grid;
    grid-template-columns: auto;
    grid-gap: .6rem;
    justify-items: center;
}

div.spot.isLeft > div.infoContainer{
    right: 0;
    padding-right: 1.8rem;
    top: -4rem;
}
div.spot.isMid > div.infoContainer{
    left: var(--vue-pretty-hotspot-floating-left);
    padding-top: 1.5rem;
}
div.spot.isRight > div.infoContainer{
    left: 0;
    padding-left: 1.8rem;
    top: -4rem;
}

div.prettyHotspot > div.spot > div.infoContainer > div.info > figure{}
div.prettyHotspot > div.spot > div.infoContainer > div.info > figure > img{}

div.prettyHotspot > div.spot > div.infoContainer > div.info > strong > a{
    font-size: 1rem;
    text-decoration: none;
    color: #333;
    transition: all .2s ease-in-out;
}

div.prettyHotspot > div.spot > div.infoContainer > div.info > strong > a:hover{
    color: #666;
}

div.prettyHotspot > div.spot > div.infoContainer > div.info > span{
    color: #f59a57;
    font-weight: bold;
    font-size: 1rem;
}

div.prettyHotspot > div.spot > div.infoContainer > div.info > p{
    text-align: center;
    color: #777;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* vue transitions */
.slide-fade-enter-active {
    transition: all .2s ease-in-out;
}

.slide-fade-leave-active {
    transition: all .2s ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    opacity: 0;
    transform: translateY(1rem);
}